/*

!/common/
!/gulp/
!/node/
!/source/
!/webpack/

!/.babelrc
!/.editorconfig
!/.eslintignore
!/.eslintrc.yaml
!/.eslintrc.yml
!/.firebaserc
!/.gitignore
!/.gitmodules

!/commands.sh
!/firebase.json
!/gulpfile.js
!/package-scripts.yml
!/package.json
!/webpack.config.js
