
/*

!/assets/
!/common/
!/commons/
!/components/
!/docs/
!/eslint/
!/gulp/
!/images/
!/javascript/
!/server/
!/source/
!/styles/
!/typings/
!/webpack/

!/.editorconfig
!/.eslintignore
!/.eslintrc.js
!/.firebaserc
!/.gitignore
!/.gitmodules
!/.stylelintignore
!/.stylelintrc.js
!/alias.js
!/babel.config.js
!/firebase.json
!/gulpfile.js
!/package-scripts.js
!/package.json
!/postcss.config.js
!/tsconfig.json
!/webpack.config.js

!/.vscode/

/.vscode/*

!/.vscode/settings.json
