
/*

!/.babelrc
!/.editorconfig
!/.eslintignore
!/.eslintrc.js
!/.eslintrc.yaml
!/.eslintrc.yml
!/.firebaserc
!/.gitignore
!/.gitmodules
!/.stylelintignore
!/.stylelintrc.js
!/alias.js
!/babel.config.js
!/commands.sh
!/firebase.json
!/gulpfile.js
!/package-scripts.js
!/package.json
!/postcss.config.js
!/webpack.config.js

!/assets/
!/common/
!/docs/
!/eslint/
!/gulp/
!/images/
!/javascript/
!/server/
!/source/
!/styles/
!/templates/
!/webpack/
