
.section-header
	@include section
	border-bottom: 1px solid $-border-color

.section-header--container
	@include section-container

.section-header--content
	@include section-content

.section-header--list
	@include clear
	margin: 8px -8px
	padding: 0
	list-style: none

.section-header--list-item
	margin: $-unit / 2
	float: left
