extends /layouts/common.pug
block block-content
	+block-section_content
		h1 magento
		p.js-format-text magento is an open-source e-commerce platform written in php . the software was originally developed by varien inc. , a us private company headquartered in culver city , california , with assistance from volunteers
		p.js-format-text varien published the first general-availability release of the software on 2008-03-31 . roy rubin , former ceo of varien , later sold a substantial share of the company to ebay , which eventually completely acquired and then spun off the company
