extends /layouts/common.pug
block block-content
	+block-section_content
		h1 wordpress
		p.js-format-text wordpress - идеальная платформа для публикации , ориентированная на красоту , поддержку стандартов и удобство использования . wordpress бесплатен и свободен к распространению
		p.js-format-text проще говоря , wordpress - это то , что вы используете , когда хотите работать над сайтом , а не бороться с ним
