extends /layouts/common.pug
block head_title
	title Ошибка / Лентех
block head_description
	meta(name='description' content='Страницы не существует')
block section_content
	.page-section.section_content
		.page-container.section_content-container
			.text
				h2 404 Not Found
				p The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.
